<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafit.model.dao.ReviewDao">
	<select id="getReviewList" parameterType="int" resultType="ReviewDto">
		SELECT * FROM review
		WHERE video_seq = #{videoSeq}
	</select>
	
	<update id="updateReview" parameterType="ReviewDto">
		UPDATE review
		SET title = #{title}, reg_date = sysdate(), descr = #{descr}
		WHERE review_seq = #{reviewSeq}
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM review
		WHERE review_seq = #{reviewSeq}
	</delete>
	
	<insert id="insertReview" parameterType="ReviewDto">
		INSERT INTO review (video_seq, title, reg_date, descr)
		VALUES (#{videoSeq},#{title}, sysdate() ,#{descr})
	</insert>

</mapper> 