<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafit.model.dao.UserDao">
	<select id="getUserDtoByUserIdAndPassword" resultType="com.ssafit.model.dto.UserDto">
		select * from user where user_id = #{userId} and user_pw = #{userPw}
	</select>
	<select id="getUerDtoByUserId" resultType = "com.ssafit.model.dto.UserDto">
		select * from user where user_id = #{userId}
	</select>
	<insert id = "registUserDto" parameterType="UserDto">
		insert into user (user_id, user_pw, user_nickname) VALUES (
			#{userId}, #{userPassword}, #{userNickname}
		)
	</insert>
</mapper> 