<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafit.model.dao.VideoDao">
	<select id="searchVideo" resultType="VideoDto" parameterType="SearchCondition"> 
		<!-- 여기가 선웅 오빠 -->
		SELECT video_seq, video_url, title, part, user_seq FROM video
		<if test="key != null">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>
	
	<insert id="insertVideo" parameterType="VideoDto">
        INSERT INTO video (video_url, title, part)
        VALUES (#{videoURL}, #{title}, #{part});
    </insert>
    
    <update id="updateVideo" parameterType="VideoDto">
        UPDATE video
        SET video_url = #{videoURL}, title=#{title}, part=#{part}
        WHERE video_seq = #{videoSeq}; 
    </update>
    
    <delete id="deleteVideo" parameterType="int">
        DELETE FROM video
        WHERE video_seq = #{id};
    </delete>
</mapper> 